body {
    display: flex;
    flex-direction: column;
    background: black;
    margin: 0px;
    height: 100vh;
    overflow-y: hidden;
}

h1 {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

div#messages {
    background: black;
    color: white;
    font-family: "DTM Mono", monospace;
    height: 100%;
    overflow-y: auto;
}

.pulsating {
    background-color: black;
    animation-name: pulsating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes pulsating {
    0%, 100% {
        background-color: black;
    }
    50% {
        background-color: #100;
    }
}

.shaking {
    animation-name: shaking;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    width: calc(100% - 14px) !important;
}

@keyframes shaking {
    13% {
        transform: translate(2px, 0px);
    }
    25% {
        transform: translate(-1px, 1px);
    }
    38% {
        transform: translate(0px, -2px);
    }
    50% {
        transform: translate(1px, -1px);
    }
    63% {
        transform: translate(-2px, 0px);
    }
    75% {
        transform: translate(0px, 2px);
    }
    88% {
        transform: translate(-1px, -1px);
    }
    0%, 100% {
        transform: translate(1px, 1px);
    }
}

.fallaway {
    animation-name: fallaway;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes fallaway {
    100% {
        transform: perspective(1px) translate3d(0, 0, -100px);
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

div#messages p {
    margin: 10px;
    min-height: 20px;
}

a {
    color: white;
}

input, button {
    background: black;
    color: white;
    padding: 4px;
    border: 2px solid white;
    font-family: "DTM Mono", monospace;
    font-size: 1em;
}

input:disabled {
    border-color: #444;
}

button {
    align-self: center;
    margin-bottom: 1em;
}

p.preGameMessage {
    text-align: center;
}

input#answer {
    width: calc(100% - 12px);
}

.papyrus {
    font-family: "UT Papyrus", "Papyrus", "DTM Mono", monospace;
}

.sans {
    font-family: "UT Sans", "Comic Sans", "DTM Mono", sans-serif;
}

.chara {
    color: #f00;
}

.gaster {
    text-shadow: 3px -3px 3px grey;
}

.player {
    border-left: 2px solid white;
    padding-left: 6px;
}

canvas#diploma, img#diplomaImage {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@font-face {
    font-family: "DTM Mono";
    src: url('font/dtm-mono.woff2') format('woff2'),
         url('font/dtm-mono.woff') format('woff');
}

@font-face {
    font-family: "UT Papyrus";
    src: url('font/papyrus.woff2') format('woff2'),
         url('font/papyrus.woff') format('woff');
}

@font-face {
    font-family: "UT Sans";
    src: url('font/sans.woff2') format('woff2'),
         url('font/sans.woff') format('woff');
}
